:root{
    --color-tema: black;
    --color-texto: white;
    --navbar-shadow: rgb(196, 196, 196);
    --color-mobile:rgb(138, 138, 138);
    --color-mobile-texto: black;
}

body{
    background: var(--color-tema);
    color: var(--color-texto); 
}
section{
    background:linear-gradient(black,grey);
}
a{
    text-decoration: none;
    color: var(--color-texto);
}

