.nav-item
{ 
    color: var(--color-texto);
}
.navbar-brand
{
    display: flex;
}
.topNav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding: 100px;
    margin: 0 auto;
    width: 100%;
    
}

.logo{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-texto);
    text-decoration: none;
}


.icons{
    color: white;
    height: 40px;
    width: 30px;
    font-size: 30px;
}
/*Menu*/

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 0 15px;

}

.menu a{
    color: var(--color-texto);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    
} 

.openMenu,
.closeMenu{
    display: none;
}

@media (max-width: 950px){
    /*Menu*/
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--color-mobile);
        height: 100%;
        overflow-y: auto;

        opacity: 0;
        pointer-events: none ;
        transition: opacity 0.2s;
    }
 
    .menu li{
        padding: 0;
    }
    
    .menu a{
        color: var(--color-mobile-texto);
        line-height: 60px;
        
    } 
    .openMenu,
    .closeMenu{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        
    }
    .closeMenu{
        align-self: flex-end;
        padding: 20px 15px;
    }
    .menuAbierto
    {
        opacity: 1;
        pointer-events: all;
    }


    
}
