 
body{
  background-color: #010616;
}
 canvas {
   position: fixed;
  margin: 20%  10% auto;
 }

.Contenedor{
  position: relative;
   color: white;

 }

 .Titulo{
  position: absolute;
  color: white;
  left: 61%;
  top: 61%;
 }

 @media (max-width: 850px){
  #bg {
    position: fixed;
    height: 92%;
    width: 100%;
  }
 
 .Contenedor{
   position: relative;
    color: white;
 
  }
 
  .Titulo{
    position: absolute;
    color:white;
    left: 25%;
    top: 18%;
  }
 }