 body{
   background-color: #000C33;
 }
 canvas {
   position: fixed;
   top: 0;
   left: 0;
   margin-top: 6%;
 }
.contendor{
  position: relative;
}
.navbar-brand{
  font-weight: bold;
}
 .Titulo{

   position: absolute;
  font-size: 70px;
  line-height: 120px;
  align-items: Center;
  vertical-align: Top;
  color: #F8EEEE;
  left: 4%;
  top: 63%;
 }