.banner{
    width: 100vw; 
    background-color: white;
    padding: 30px; 
    text-align: center;
}
.TituloBanner{
    color: #000c33;
    display: inline;
    font-size: 96px;
}
.TituloBannerRojo
{
    color:#D1525A; 
    display: inline; 
    font-size: 96px;
}
.frase{
    color: #000c33;
    letter-spacing: 20px; 
}
#btnPostular{
    margin-left: 67%;
    width: 20%;
    background: none;
    border-color: #D1525A;
    color: white;
    margin-bottom: 4%;
}
.form{
    margin-top: 10%;
    Word-wrap: break-Word;
}

.campos{
    width: 100%;
    margin-top: 11px;
    border-bottom: #D1525A 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 30px;
}
.imgForm{
    width: 57%;
    margin-top: 10%;
    margin-bottom: 3%;
    margin-left: 1%;
}
#campoFile{
    text-align: center;
    width: 30%;
    margin-left: 70%;
}
.form-check{
    color: white;
}